{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "singleQuote": false,
        "printWidth": 100
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "printWidth": 100
      }
    }
  ]
}
